<section class="bg-primary" id="company">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">O seu sucesso é o nosso sucesso!</h2>
                <hr class="light">
                <p class="text-faded">Nosso foco é o sucesso dos nossos clientes, sempre construindo uma sólida e duradoura relação de parceria, onde entregamos a melhor solução técnica alinhada com a estratégia do seu negócio.</p>
                <p class="text-faded">Nossa visão proporciona aos nossos clientes, o constante contato com as práticas ágeis mais conceituadas, as stacks tecnológicas mais difundidas e o networking com profissionais certificados, de extrema excelência técnica e reconhecidos no mercado.</p>
            </div>
        </div>
    </div>
</section>
