<section class="no-padding" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Vamos entrar em contato...</h2>
                <hr class="primary">
                <p>Pronto para iniciar a sua jornada conosco? Isso é ótimo! Entre em contato através dos nossos canais
                    de relacionamento, que retornaremos o mais breve possível.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="contact-box">
                    <a href="https://api.whatsapp.com/send?phone={{ site.whatsapp_number }}" target="_blank">
                        <i class="fab fa-3x fa-whatsapp  wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <p>{{ site.whatsapp_text }}</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="contact-box">
                    <a href="mailto:{{ site.email }}">
                        <i class="far fa-3x fa-envelope wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <p>{{ site.email }}</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="contact-box">
                    <a href="https://linkedin.com/company/{{ site.linkedin_username }}" target="_blank">
                        <i class="fab fa-3x fa-linkedin wow bounceIn text-primary" data-wow-delay=".4s"></i>
                        <p>{{ site.linkedin_text }}</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="contact-box">
                    <a href="https://www.instagram.com/{{ site.instagram_profile }}">
                        <i class="fab fa-instagram wow bounceIn text-primary" data-wow-delay=".1s" style="font-size: 42px;"></i>
                        <p>{{ site.instagram_text }}</p>
                    </a>
                </div>
            </div>
        </div>

        <div class="row no-gutter bg-primary">
            <div class="col-sm-4 text-center">
                <div class="address-box">
                    <a href="{{ site.google_maps_link_url }}" target="_blank">
                        <i class="fa fa-3x fa-map-marker-alt"></i>
                        <address>
                            {{ site.address_line_1 }}<br>
                            {{ site.address_line_2 }}<br>
                        </address>
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="map-box">
                    <iframe src="{{ site.google_maps_embedded_url }}" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <p class="text-faded">Você também pode entrar em contato conosco, nos enviando uma mensagem agora mesmo.</p>
        <a href="#" class="btn btn-primary btn-xl wow tada" data-toggle="modal" data-target="#contatModal">Entre em contato</a>
    </div>
</aside>

<div class="modal fade" id="contatModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Enviar Mensagem</h4>
            </div>
            <div class="modal-body">
                <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
                    <input type=hidden name='captcha_settings'
                        value='{"keyname":"Site_SR_Consulting","fallback":"true","orgId":"00D3t000000fp4l","ts":""}'>
                    <input type=hidden name="oid" value="00D3t000000fp4l">
                    <input type=hidden name="retURL" value="https://srconsulting.io/#contactrequested">
                    <input type=hidden id="lead_source" name="lead_source" value="Web" />

                    <!-- GA4 Tracking Info (Offline Conversion) -->
                    <input type="hidden" id="GACLIENTID" name="GACLIENTID" value="">
                    <input type="hidden" id="GAUSERID" name="GAUSERID" value="">
                    <input type="hidden" id="GATRACKID" name="GATRACKID" value="">

                    <!-- UTM Source -->
                    <input  id="00NTT000000aGhO" maxlength="255" name="00NTT000000aGhO" size="20" type="hidden" /><br>
                    
                    <!-- UTM Medium -->
                    <input  id="00NTT000000aGvt" maxlength="255" name="00NTT000000aGvt" size="20" type="hidden" /><br>
                    
                    <!-- UTM Campaign -->
                    <input  id="00NTT000000aGxV" maxlength="255" name="00NTT000000aGxV" size="20" type="hidden" /><br>

                    <!-- <div class="form-group">
                        <label for="first_name">Nome <span class="text-danger">*</span></label>
                        <input id="first_name" maxlength="40" name="first_name" size="20" type="text" required
                            placeholder="Seu  nome..." class="form-control" />
                    </div> -->

                    <div class="form-group">
                        <label for="last_name">Nome <span class="text-danger">*</span></label>
                        <input id="last_name" maxlength="80" name="last_name" size="20" type="text"
                            placeholder="Seu nome..." class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="company">Empresa <span class="text-danger">*</span></label>
                        <input id="company" maxlength="40" name="company" size="20" type="text" required
                            placeholder="Sua empresa..." class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="mobile">Telefone <span class="text-danger">*</span></label>
                        <input id="mobile" maxlength="40" name="mobile" size="20" type="phone" required
                            placeholder="+55 (51) 99999-9999" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="email">E-mail <span class="text-danger">*</span></label>
                        <input id="email" maxlength="80" name="email" size="20" type="email" required
                            placeholder="seu@e-mail.com" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="00NTT000002dkcv">Código Promocional</label>
                        <input id="00NTT000002dkcv" maxlength="255" name="00NTT000002dkcv" size="20" 
                            type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="description">Mensagem</label>
                        <textarea name="description" class="form-control" placeholder="Sua mensagem..."
                            rows="2"></textarea>
                    </div>

                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey="6LfgNEAcAAAAAHsvQJ-mpdRGRcWjlhEnLuuuLHXC"
                            data-callback="recaptcha_callback"></div>
                    </div>

                    <div class="form-send-btn">
                        <span class="text-danger pull-left">* Informações obrigatórias</span>
                        <button id="contactFormSubmit" disabled="true" type="submit" name="submit"
                            class="btn btn-primary">Enviar Mensagem</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="contatRequestedModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Mensagem Recebida</h4>
            </div>
            <div class="modal-body">
                <h3>Obrigado!</h3>
                <p>Recebemos a sua mensagem e logo entraremos em contato.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="whatsapp-link-container">
    <a href="https://api.whatsapp.com/send?phone={{ site.whatsapp_number }}" target="_blank">
        <i class="fab fa-3x fa-whatsapp"></i>
    </a>
</div> -->
<div class="contact-link-container">
    <a href="#" data-toggle="modal" data-target="#contatModal">
        <img src="img/contato_icon.png" width="79px" height="100px" title="Entre em contato" />
    </a>
</div>

<script> 
    const urlParams = new URLSearchParams(window.location.search);
    
    document.getElementById("00NTT000000aGhO").value = urlParams.get('utm_source');
    document.getElementById("00NTT000000aGvt").value = urlParams.get('utm_medium');
    document.getElementById("00NTT000000aGxV").value = urlParams.get('utm_campaign');
    
</script>