<footer>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-xs-4 text-right">
                <a href="{{ site.appexchange_link_url }}" target="_blank">
                    <img class="partner" alt="Salesforce Partner" src="img/salesforce-partner.png">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="{{ site.appexchange_link_url }}" target="_blank">
                    <img class="certified" alt="Salesforce Certified" src="img/salesforce-certified.png">
                </a>
            </div>
            <div class="col-xs-4">
                <a href="{{ site.gptw_link_url }}" target="_blank">
                    <img class="certified" alt="GPTW Certified" src="img/gptw.png">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="logo-box text-center">
                <a class="page-scroll" href="#page-top">
                    <img class="logo" alt="SR Consulting" src="img/logo.png">
                </a>
                <p class="text-faded">© Copyright 2021</p>
            </div>
        </div>
    </div>
</footer>