<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Consultoria especializada na plataforma Salesforce</h1>
            <hr>
            <p>
                Nosso foco é o sucesso dos nossos clientes.<br />
                O fazemos promovendo a transformação digital, potencializando seus processos e aliando agilidade,
                excelência técnica e expertise na plataforma de CRM #1 do mundo.
            </p>
            <a href="#" class="btn btn-primary btn-xl page-scroll wow tada" data-toggle="modal" data-target="#contatModal">Entre em 
                contato</a>
        </div>
    </div>
</header>