<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Veja os serviços que oferecemos.</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <div class="service-box">
                    <img src="img/services/discovery.jpg" class="img-responsive" alt="Discovery">
                    <div class="service-box-caption">
                        <div class="service-box-caption-content">
                            <h3>
                                Discovery
                            </h3>
                            <hr class="light">
                            <p class="text-faded">
                                Entendemos o seu negócio e as suas necessidades, auxíliarmos na escolha das
                                melhores soluções e na construção do seu backlog.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="service-box">
                    <img src="img/services/project.jpg" class="img-responsive" alt="Projeto">
                    <div class="service-box-caption">
                        <div class="service-box-caption-content">
                            <h3>
                                Projeto
                            </h3>
                            <hr class="light">
                            <p class="text-faded">
                                Entregamos a sua solução, tendo como base um escopo pré-definido e utilizando a
                                nossa metodologia de processo e gestão.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="service-box">
                    <img src="img/services/factory.jpg" class="img-responsive" alt="Fábrica">
                    <div class="service-box-caption">
                        <div class="service-box-caption-content">
                            <h3 class="project-category">
                                Fábrica
                            </h3>
                            <hr class="light">
                            <p class="text-faded">
                                Montamos uma squad, com os melhores profissionais dedicados, para atender as
                                suas necessidades do dia a dia.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="service-box">
                    <img src="img/services/outsourcing.jpg" class="img-responsive" alt="Outsourcing">
                    <div class="service-box-caption">
                        <div class="service-box-caption-content">
                            <h3 class="project-category">
                                Outsourcing
                            </h3>
                            <hr class="light">
                            <p class="text-faded">
                                Disponibilizamos profissionais, altamente qualificados, para compor as suas
                                squads e atuar como parte do seu time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>