<section class="no-padding" id="specialties">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Conheça nossas especialidades.</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <img src="img/specialties/sales.jpg" class="img-responsive" alt="Vendas">
                    <div class="specialties-box-caption specialties-box-sales">
                        <div class="specialties-box-caption-content">
                            <i class="fab fa-4x fa-sellsy wow bounceIn" data-wow-delay=".1s"></i>
                            <h3>Vendas</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <img src="img/specialties/service.jpg" class="img-responsive" alt="Atendimento">
                    <div class="specialties-box-caption specialties-box-service">
                        <div class="specialties-box-caption-content">
                            <i class="fas fa-4x fa-headset wow bounceIn" data-wow-delay=".2s"></i>
                            <h3>Atendimento</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <img src="img/specialties/marketing.jpg" class="img-responsive" alt="Marketing">
                    <div class="specialties-box-caption specialties-box-marketing">
                        <div class="specialties-box-caption-content">
                            <i class="fas fa-4x fa-search-dollar wow bounceIn" data-wow-delay=".3s"></i>
                            <h3>Marketing</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <img src="img/specialties/social.jpg" class="img-responsive" alt="Social">
                    <div class="specialties-box-caption specialties-box-social">
                        <div class="specialties-box-caption-content">
                            <i class="fas fa-4x fa-comments-dollar wow bounceIn" data-wow-delay=".4s"></i>
                            <h3>Social</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <img src="img/specialties/commerce.jpg" class="img-responsive" alt="e-Commerce">
                    <div class="specialties-box-caption specialties-box-commerce">
                        <div class="specialties-box-caption-content">
                            <i class="fas fa-4x fa-shopping-cart wow bounceIn" data-wow-delay=".5s"></i>
                            <h3>e-Commerce</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <img src="img/specialties/community.jpg" class="img-responsive" alt="Comunidades">
                    <div class="specialties-box-caption specialties-box-community">
                        <div class="specialties-box-caption-content">
                            <i class="fas fa-4x fa-users wow bounceIn" data-wow-delay=".6s"></i>
                            <h3>Comunidades</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <img src="img/specialties/finance.jpg" class="img-responsive" alt="Financeiro">
                    <div class="specialties-box-caption specialties-box-finance">
                        <div class="specialties-box-caption-content">
                            <i class="fas fa-4x fa-dollar-sign wow bounceIn" data-wow-delay=".7s"></i>
                            <h3>Financeiro</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <img src="img/specialties/health.jpg" class="img-responsive" alt="Saúde">
                    <div class="specialties-box-caption specialties-box-health">
                        <div class="specialties-box-caption-content">
                            <i class="fas fa-4x fa-heartbeat wow bounceIn" data-wow-delay=".8s"></i>
                            <h3>Saúde</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <img src="img/specialties/education.jpg" class="img-responsive" alt="Educação">
                    <div class="specialties-box-caption specialties-box-education">
                        <div class="specialties-box-caption-content">
                            <i class="fas fa-4x fa-graduation-cap wow bounceIn" data-wow-delay=".9s"></i>
                            <h3>Educação</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <img src="img/specialties/industry.jpg" class="img-responsive" alt="Indústria">
                    <div class="specialties-box-caption specialties-box-industry">
                        <div class="specialties-box-caption-content">
                            <i class="fas fa-4x fa-industry wow bounceIn" data-wow-delay="1s"></i>
                            <h3>Indústria 4.0</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <img src="img/specialties/mobile.jpg" class="img-responsive" alt="Mobile">
                    <div class="specialties-box-caption specialties-box-mobile">
                        <div class="specialties-box-caption-content">
                            <i class="fas fa-4x fa-mobile-alt wow bounceIn" data-wow-delay="1.1s"></i>
                            <h3>Mobile</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <img src="img/specialties/analytics.jpg" class="img-responsive" alt="Analytics">
                    <div class="specialties-box-caption specialties-box-analytics">
                        <div class="specialties-box-caption-content">
                            <i class="fas fa-4x fa-chart-line wow bounceIn" data-wow-delay="1.2s"></i>
                            <h3>Analytics</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <img src="img/specialties/integrations.jpg" class="img-responsive" alt="Integrações">
                    <div class="specialties-box-caption specialties-box-integrations">
                        <div class="specialties-box-caption-content">
                            <i class="fas fa-4x fa-network-wired wow bounceIn" data-wow-delay="1.3s"></i>
                            <h3>Integrações</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <img src="img/specialties/devops.jpg" class="img-responsive" alt="DevSecOps">
                    <div class="specialties-box-caption specialties-box-devops">
                        <div class="specialties-box-caption-content">
                            <i class="fas fa-4x fa-truck-loading wow bounceIn" data-wow-delay="1.4s"></i>
                            <h3>DevSecOps</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6 hidden-sm hidden-md">
                <div class="specialties-box">
                    <img src="img/specialties/security.jpg" class="img-responsive" alt="Segurança">
                    <div class="specialties-box-caption specialties-box-security">
                        <div class="specialties-box-caption-content">
                            <i class="fas fa-4x fa-key wow bounceIn" data-wow-delay="1.5s"></i>
                            <h3>Segurança</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <img src="img/specialties/cloud.jpg" class="img-responsive" alt="Cloud">
                    <div class="specialties-box-caption specialties-box-cloud">
                        <div class="specialties-box-caption-content">
                            <i class="fas fa-4x fa-cloud wow bounceIn" data-wow-delay="1.6s"></i>
                            <h3>Cloud</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<aside class="additional-specialties bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="thumbnail">
                    <img src="img/specialties/digitaltransformation.png" alt="Transformação Digital">
                    <div class="caption">
                        <h3>Transformação Digital</h3>
                        <p>Tenha sucesso garantido no seu processo de transformação digital.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="thumbnail">
                    <img src="img/specialties/openbanking.png" alt="Open Banking">
                    <div class="caption">
                        <h3>Open Banking</h3>
                        <p>Acelere a implementação e o sucesso da sua extratégia de Open Banking.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>