<section class="no-padding" id="specialties">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Conheça nossas especialidades.</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <a href="https://www.salesforce.com/products/sales-cloud/overview" target="_blank">
                        <img src="img/specialties/sales.jpg" class="img-responsive" alt="Sales Cloud">
                        <div class="specialties-box-caption specialties-box-sales">
                            <div class="specialties-box-caption-content">
                                <i class="fab fa-4x fa-sellsy wow bounceIn" data-wow-delay=".1s"></i>
                                <h3>Sales Cloud</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <a href="https://www.salesforce.com/products/service-cloud/overview" target="_blank">
                        <img src="img/specialties/service.jpg" class="img-responsive" alt="Service Cloud">
                        <div class="specialties-box-caption specialties-box-service">
                            <div class="specialties-box-caption-content">
                                <i class="fas fa-4x fa-headset wow bounceIn" data-wow-delay=".2s"></i>
                                <h3>Service Cloud</h3>
                                <p>(Service e Field Service)</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <a href="https://www.salesforce.com/products/marketing-cloud/overview" target="_blank">
                        <img src="img/specialties/marketing.jpg" class="img-responsive" alt="Marketing Cloud">
                        <div class="specialties-box-caption specialties-box-marketing">
                            <div class="specialties-box-caption-content">
                                <i class="fas fa-4x fa-search-dollar wow bounceIn" data-wow-delay=".3s"></i>
                                <h3>Marketing Cloud</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <a href="https://www.salesforce.com/products/experience-cloud/overview" target="_blank">
                        <img src="img/specialties/community.jpg" class="img-responsive" alt="Communities Cloud">
                        <div class="specialties-box-caption specialties-box-community">
                            <div class="specialties-box-caption-content">
                                <i class="fas fa-4x fa-users wow bounceIn" data-wow-delay=".6s"></i>
                                <h3>Experience Cloud</h3>
                                <p>(Partner e Customer)</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <a href="https://www.salesforce.com/products/commerce-cloud/overview" target="_blank">
                        <img src="img/specialties/commerce.jpg" class="img-responsive" alt="Commerce Cloud">
                        <div class="specialties-box-caption specialties-box-commerce">
                            <div class="specialties-box-caption-content">
                                <i class="fas fa-4x fa-shopping-cart wow bounceIn" data-wow-delay=".5s"></i>
                                <h3>Commerce Cloud</h3>
                                <p>(B2C e B2B)</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <a href="https://www.salesforce.com/solutions/industries/financial-services/overview"
                        target="_blank">
                        <img src="img/specialties/financial.jpg" class="img-responsive" alt="Financial Services Cloud">
                        <div class="specialties-box-caption specialties-box-financial">
                            <div class="specialties-box-caption-content">
                                <i class="fas fa-4x fa-dollar-sign wow bounceIn" data-wow-delay=".7s"></i>
                                <h3>Financial Services Cloud</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <a href="https://www.salesforce.com/solutions/industries/healthcare/overview" target="_blank">
                        <img src="img/specialties/health.jpg" class="img-responsive" alt="Health Cloud">
                        <div class="specialties-box-caption specialties-box-health">
                            <div class="specialties-box-caption-content">
                                <i class="fas fa-4x fa-heartbeat wow bounceIn" data-wow-delay=".8s"></i>
                                <h3>Health Cloud</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <a href="https://www.salesforce.com/products/platform/overview" target="_blank">
                        <img src="img/specialties/platform.jpg" class="img-responsive" alt="Salesforce Platform">
                        <div class="specialties-box-caption specialties-box-platform">
                            <div class="specialties-box-caption-content">
                                <i class="fas fa-4x fa-bolt wow bounceIn" data-wow-delay="1s"></i>
                                <h3>Salesforce Platform</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <a href="https://www.salesforce.com/solutions/mobile/overview" target="_blank">
                        <img src="img/specialties/mobile.jpg" class="img-responsive" alt="Mobile Solutions">
                        <div class="specialties-box-caption specialties-box-mobile">
                            <div class="specialties-box-caption-content">
                                <i class="fas fa-4x fa-mobile-alt wow bounceIn" data-wow-delay="1.1s"></i>
                                <h3>Mobile Solutions</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <a href="https://www.salesforce.com/products/einstein/overview" target="_blank">
                        <img src="img/specialties/einstein.jpg" class="img-responsive" alt="Salesforce Einstein">
                        <div class="specialties-box-caption specialties-box-einstein">
                            <div class="specialties-box-caption-content">
                                <i class="fas fa-4x fa-brain wow bounceIn" data-wow-delay="1.2s"></i>
                                <h3>Einstein AI</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <a href="https://www.salesforce.com/products/analytics/overview" target="_blank">
                        <img src="img/specialties/tableau.jpg" class="img-responsive" alt="Tableau CRM">
                        <div class="specialties-box-caption specialties-box-tableau">
                            <div class="specialties-box-caption-content">
                                <i class="fas fa-4x fa-chart-line wow bounceIn" data-wow-delay="1.3s"></i>
                                <h3>Tableau Analytics</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <div class="specialties-box">
                    <a href="https://www.salesforce.com/products/integration/overview" target="_blank">
                        <img src="img/specialties/mulesoft.jpg" class="img-responsive" alt="MuleSoft">
                        <div class="specialties-box-caption specialties-box-mulesoft">
                            <div class="specialties-box-caption-content">
                                <i class="fas fa-4x fa-network-wired wow bounceIn" data-wow-delay="1.4s"></i>
                                <h3>MuleSoft</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>