<section class="no-padding" id="stories">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Conheça alguns de nossos clientes.</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <div class="stories-box">
                    <a href="https://www.portobello.com.br" target="_blank">
                        <img src="img/stories/portobello-theme.jpg" class="img-responsive" alt="Portobello">
                        <div class="stories-box-caption">
                            <div class="stories-box-caption-content">
                                <img src="img/stories/portobello-logo.png" class="stories-img-logo" alt="Portobello">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="stories-box">
                    <a href="https://www.piccadilly.com.br" target="_blank">
                        <img src="img/stories/piccadilly-theme.jpg" class="img-responsive" alt="Piccadilly">
                        <div class="stories-box-caption">
                            <div class="stories-box-caption-content">
                                <img src="img/stories/piccadilly-logo.png" class="stories-img-logo" alt="Piccadilly">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="stories-box">
                    <a href="https://chphipotecaria.com.br" target="_blank">
                        <img src="img/stories/chp-theme.jpg" class="img-responsive" alt="CHP Hipoterária">
                        <div class="stories-box-caption">
                            <div class="stories-box-caption-content">
                                <img src="img/stories/chp-logo.png" class="stories-img-logo" alt="CHP Hipoterária">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="stories-box">
                    <a href="https://www.saqueepague.com.br/" target="_blank">
                        <img src="img/stories/saqueepague-theme.png" class="img-responsive" alt="Saque e Pague">
                        <div class="stories-box-caption">
                            <div class="stories-box-caption-content">
                                <img src="img/stories/saqueepague-logo.png" class="stories-img-logo" alt="Saque e Pague">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-6">
                <div class="stories-box" style="overflow: hidden; max-height: 237px;">
                    <a href="https://www.abcbrasil.com.br" target="_blank">
                        <img src="img/stories/abc-theme.png" class="img-responsive" alt="Banco ABC">
                        <div class="stories-box-caption">
                            <div class="stories-box-caption-content">
                                <img src="img/stories/abc-logo.png" class="stories-img-logo" alt="Banco ABC">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="stories-box">
                    <a href="https://loja.atlas.ind.br" target="_blank">
                        <img src="img/stories/atlas-theme.png" class="img-responsive" alt="Atlas Eletrodomésticos">
                        <div class="stories-box-caption">
                            <div class="stories-box-caption-content">
                                <img src="img/stories/atlas-logo.png" class="stories-img-logo" alt="Atlas Eletrodomésticos">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="stories-box">
                    <a href="https://grendene.com.br" target="_blank">
                        <img src="img/stories/grendene-theme.png" class="img-responsive" alt="Grendene">
                        <div class="stories-box-caption">
                            <div class="stories-box-caption-content">
                                <img src="img/stories/grendene-logo.png" class="stories-img-logo" alt="Grendene">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="stories-box">
                    <a href="https://www.mor.com.br/" target="_blank">
                        <img src="img/stories/mor-theme.png" class="img-responsive" alt="MOR">
                        <div class="stories-box-caption">
                            <div class="stories-box-caption-content">
                                <img src="img/stories/mor-logo.png" class="stories-img-logo" alt="MOR">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="stories-call-to-action bg-dark">
    <div class="container text-center">
        <h3>Venha ser o nosso próximo case de sucesso!</h3>
    </div>
</aside>